#slides {
  position: relative;
}
#slides .slides-container {
  display: none;
}
#slides .scrollable {
  *zoom: 1;
  position: relative;
  top: 0;
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}
#slides .scrollable:after {
  content: "";
  display: table;
  clear: both;
}

.slides-navigation {
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  top: 46%;
  width: 100%;
}
.slides-navigation a {
  position: absolute;
  display: block;
  widows: 40px;
  height: 50px;
    width: 50px;
    font-size: 35px;
    text-decoration: none;
    background: rgba(0,0,0,0.6);
    color: white;
    padding: 10px;
    text-align: center;
    line-height: 28px;
    font-weight: bold;
    border-radius: 50%;
}

.slides-navigation a:hover{
    background: #000;
}


.slides-navigation a.prev {
  left: 0;

}
.slides-navigation a.next {
  right: 0;
}

.slides-pagination {
  position: absolute;
  z-index: 3;
  bottom: 0;
  text-align: center;
  width: 100%;
}
.slides-pagination a {
  border: 2px rgba(255,255,255,0.2);
  border-radius: 15px;
  width: 25px;
  height: 25px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 20;
  *display: inline;
  background: rgba(255,255,255,0.2);
  margin: 10px;
  overflow: hidden;
  text-indent: -100%;
}

.slides-pagination a.current {
  background:  rgba(255,255,255,0.8);
}
